@import '../../config/app';
.dropDown{
    position: relative;
    .dropDownInner{
        position: absolute;
        background-color: $darkGray;
        padding: .5em 1em;
        &.right{
            right: 0px;
        }
        a{
            color: $white;
            text-decoration: none;
        }
    }
}
