$white: #e9ecf1;
$gray: #383f4a;
$darkGray: #2c333e;
$appBackground: $gray;
$appColor: $white;
$inputBackgroundColor: $white;
$submitBorder: $white;
$submitColor: $white;
$inputColor: $gray;
$placeHolderColor: $appBackground;